.canvasContainer{
    width: 800px;
    height: 600px;
}

.canvas{
    position: absolute; 
}

.buttons{
    margin-bottom: 40px;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
}

.buttons > button, input{
    margin-right: 15px;
}

.select{
    margin-right: 15px;
}